<div class="text-center">
  <div style="padding: 10px; background-color: #a1c1f2">
    <i><strong>Your wish.. and then its our responsibility to make it come true!</strong></i>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-color: #32323f; margin-bottom: 0">
  <div class="container">
    <div  class="row">
      <div class="col-sm-3" style="color: white">
        <h4>Quick Links</h4>
          <hr style="width: 50px; height: 1px; background-color: orange;" align="left">
          <ul style="padding-left: 20px; list-style-type: square;" id="white-font">
            <li>
              <a href="/">Home</a>
            </li>

            <li>
              <a href="/about/">About Us</a>
            </li>

            <li>
              <a href="/services/">Services</a>
            </li>

            <li>
              <a href="/properties/">Properties</a>
            </li>

            <li>
              <a href="/contact/">Contact Us</a>
            </li>
          </ul>
      </div>

      <div class="col-sm-3" style="color: white">
        <h4>Services</h4>
          <hr style="width: 50px; height: 1px; background-color: orange;" align="left">
          <ul style="padding-left: 20px; list-style-type: square;">
            <li>Home Loan</li>
            <li>Mortgage Loan</li>
            <li>Business Loan</li>
            <li>Construction Loan</li>
            <li>Flats Rent/Sale</li>
          </ul>
      </div>

      <div class="col-sm-3" style="color: white">
        <h4>Get in Touch</h4>
        <hr style="width: 50px; height: 1px; background-color: orange;" align="left">
        <div>
          <h5>Registered Office:</h5>
          <p style="font-size: 15px; margin-bottom: 3%;">
            Office No. 302, Pinnacle Pride, <br> Near Durvankur Hotel, <br> Sadashiv Peth, Tilak Road, <br> Pune-30.
          </p>
          <p style="margin: 0; font-size: 15px;"><i class="fa fa-phone" aria-hidden="true"></i> +91-8484004007</p>
          <p style="font-size: 15px;"><i class="fa fa-envelope" aria-hidden="true"></i> perfect.fin.solution@gmail.com</p>
        </div>
      </div>

      <div class="col-sm-3" style="color: white;">
        <h4>Location</h4>
        <hr style="width: 50px; height: 1px; background-color: orange;" align="left">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2148.972485517958!2d73.84462403131188!3d18.51063609574769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6103609537bff86d!2sPerfect+Financial+Solution!5e0!3m2!1sen!2sin!4v1521621694734" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ "public/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "public/js/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "public/js/custom.js" | relative_url }}"></script>
<!-- <script src="{{ "public/js/custom.js" | relative_url }}"></script> -->
<script type="text/javascript">
    $(document).ready(function(){
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage'], #home a[href='#python']").on('click', function(event) {

       // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
          });
        } // End if
      });
    })

    $(document).ready(function() {
        $("body").click(function(event) {
                // only do this if navigation is visible, otherwise you see jump in navigation while collapse() is called
                 if ($(".navbar-collapse").is(":visible") && $(".navbar-toggle").is(":visible") ) {
                    $('.navbar-collapse').collapse('toggle');
                }
          });
    });

    $(window).scroll(function() {
      $(".slideanim").each(function(){
        var pos = $(this).offset().top;

        var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
      });
    });
</script>
