{% include head.html %}
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: transparent;">
    <a class="navbar-brand" href="#"><img class="card-img-top img-fluid" src="{{ "public/images/logo.png" | relative_url }}" alt="Card image cap" style="height: 7%; width: 7%;">Perfect Financial Solutions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto" style="padding-right: 20px;">
        <li class="nav-item {% if page.title == 'Home' %} active {% endif %}">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if page.title == 'About' %} active {% endif %}">
          <a class="nav-link" href="/about/">About Us</a>
        </li>
        <li class="nav-item {% if page.title == 'Services' %} active {% endif %}">
          <a class="nav-link" href="/services/">Services</a>
        </li>
        <li class="nav-item {% if page.title == 'Properties' %} active {% endif %}">
          <a class="nav-link" href="/properties/">Properties</a>
        </li>
        <li class="nav-item {% if page.title == 'Contact Us' %} active {% endif %}">
          <a class="nav-link" href="/contact/">Contact Us</a>
        </li>
      </ul>
      <!-- <ul class="navbar-nav">
      </ul> -->
    </div>
  </nav>
  <div id="check"></div>
  {{ content }}
</body>
{% include footer.html %}
</html>
